# Mezclar Datos de Shopify

## Importar informaci√≥n

In [1]:
#importar librerias
import pandas as pd
import numpy as np
from enum import unique

In [2]:
# importar ordenes
orders = pd.read_csv("orders_export_1.csv")
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23682 entries, 0 to 23681
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         23682 non-null  object
 1   Email                        23674 non-null  object
 2   Financial Status             10528 non-null  object
 3   Paid at                      9018 non-null   object
 4   Fulfillment Status           10528 non-null  object
 5   Fulfilled at                 10427 non-null  object
 6   Accepts Marketing            10528 non-null  object
 7   Currency                     10528 non-null  object
 8   Subtotal                     10528 non-null  float64
 9   Shipping                     10528 non-null  float64
 10  Taxes                        10528 non-null  float64
 11  Total                        10528 non-null  float64
 12  Discount Code                5404 non-null   object
 13  Discount Amount              10528 non-null  float64
 14  Shipping Method              10494 non-null  object
 15  Created at                   23682 non-null  object
 16  Lineitem quantity            23682 non-null  int64
 17  Lineitem name                23682 non-null  object
 18  Lineitem price               23682 non-null  float64
 19  Lineitem compare at price    1151 non-null   float64
 20  Lineitem sku                 23645 non-null  object
 21  Lineitem requires shipping   23682 non-null  bool
 22  Lineitem taxable             23682 non-null  bool
 23  Lineitem fulfillment status  23682 non-null  object
 24  Billing Name                 10526 non-null  object
 25  Billing Street               10524 non-null  object
 26  Billing Address1             10524 non-null  object
 27  Billing Address2             2352 non-null   object
 28  Billing Company              573 non-null    object
 29  Billing City                 10525 non-null  object
 30  Billing Zip                  10520 non-null  object
 31  Billing Province             59 non-null     object
 32  Billing Country              10525 non-null  object
 33  Billing Phone                6273 non-null   object
 34  Shipping Name                10500 non-null  object
 35  Shipping Street              10499 non-null  object
 36  Shipping Address1            10499 non-null  object
 37  Shipping Address2            2325 non-null   object
 38  Shipping Company             575 non-null    object
 39  Shipping City                10500 non-null  object
 40  Shipping Zip                 10496 non-null  object
 41  Shipping Province            55 non-null     object
 42  Shipping Country             10500 non-null  object
 43  Shipping Phone               6248 non-null   object
 44  Notes                        685 non-null    object
 45  Note Attributes              5473 non-null   object
 46  Cancelled at                 15 non-null     object
 47  Payment Method               9720 non-null   object
 48  Payment Reference            9720 non-null   object
 49  Refunded Amount              10528 non-null  float64
 50  Vendor                       14153 non-null  object
 51  Id                           10528 non-null  float64
 52  Tags                         886 non-null    object
 53  Risk Level                   10528 non-null  object
 54  Source                       10528 non-null  object
 55  Lineitem discount            23682 non-null  float64
 56  Tax 1 Name                   9848 non-null   object
 57  Tax 1 Value                  9848 non-null   float64
 58  Tax 2 Name                   2189 non-null   object
 59  Tax 2 Value                  2189 non-null   float64
 60  Tax 3 Name                   0 non-null      float64
 61  Tax 3 Value                  0 non-null      float64
 62  Tax 4 Name                   0 non-null      float64
 63  Tax 4 Value                  0 non-null      float64
 64  Tax 5 Name                   0 non-null      float64
 65  Tax 5 Value                  0 non-null      float64
 66  Phone                        1874 non-null   float64
 67  Receipt Number               0 non-null      float64
 68  Duties                       0 non-null      float64
 69  Billing Province Name        59 non-null     object
 70  Shipping Province Name       55 non-null     object
 71  Payment ID                   18 non-null     object
 72  Payment Terms Name           0 non-null      float64
 73  Next Payment Due At          0 non-null      float64
dtypes: bool(2), float64(23), int64(1), object(48)
memory usage: 13.1+ MB

/var/folders/3n/2pry6xdj1_5_cqw2pyzdk21r0000gn/T/ipykernel_1028/551050056.py:2: DtypeWarning: Columns (20,33,43,44,45,46,71) have mixed types. Specify dtype option on import or set low_memory=False.
  orders = pd.read_csv("orders_export_1.csv")

In [3]:
#importar productos
products = pd.read_csv("products_export_1.csv")
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1895 entries, 0 to 1894
Data columns (total 49 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Handle                                     1895 non-null   object
 1   Title                                      291 non-null    object
 2   Body (HTML)                                237 non-null    object
 3   Vendor                                     291 non-null    object
 4   Standardized Product Type                  2 non-null      object
 5   Custom Product Type                        217 non-null    object
 6   Tags                                       287 non-null    object
 7   Published                                  291 non-null    object
 8   Option1 Name                               291 non-null    object
 9   Option1 Value                              1657 non-null   object
 10  Option2 Name                               255 non-null    object
 11  Option2 Value                              1613 non-null   object
 12  Option3 Name                               1 non-null      object
 13  Option3 Value                              27 non-null     object
 14  Variant SKU                                1588 non-null   object
 15  Variant Grams                              1657 non-null   float64
 16  Variant Inventory Tracker                  1622 non-null   object
 17  Variant Inventory Qty                      1657 non-null   float64
 18  Variant Inventory Policy                   1657 non-null   object
 19  Variant Fulfillment Service                1657 non-null   object
 20  Variant Price                              1657 non-null   float64
 21  Variant Compare At Price                   392 non-null    float64
 22  Variant Requires Shipping                  1657 non-null   object
 23  Variant Taxable                            1657 non-null   object
 24  Variant Barcode                            1588 non-null   object
 25  Image Src                                  1262 non-null   object
 26  Image Position                             1262 non-null   float64
 27  Image Alt Text                             1007 non-null   object
 28  Gift Card                                  291 non-null    object
 29  SEO Title                                  1 non-null      object
 30  SEO Description                            123 non-null    object
 31  Google Shopping / Google Product Category  0 non-null      float64
 32  Google Shopping / Gender                   0 non-null      float64
 33  Google Shopping / Age Group                0 non-null      float64
 34  Google Shopping / MPN                      0 non-null      float64
 35  Google Shopping / AdWords Grouping         0 non-null      float64
 36  Google Shopping / AdWords Labels           0 non-null      float64
 37  Google Shopping / Condition                0 non-null      float64
 38  Google Shopping / Custom Product           0 non-null      float64
 39  Google Shopping / Custom Label 0           0 non-null      float64
 40  Google Shopping / Custom Label 1           0 non-null      float64
 41  Google Shopping / Custom Label 2           0 non-null      float64
 42  Google Shopping / Custom Label 3           0 non-null      float64
 43  Google Shopping / Custom Label 4           0 non-null      float64
 44  Variant Image                              0 non-null      float64
 45  Variant Weight Unit                        1657 non-null   object
 46  Variant Tax Code                           0 non-null      float64
 47  Cost per item                              1183 non-null   float64
 48  Status                                     291 non-null    object
dtypes: float64(21), object(28)
memory usage: 725.6+ KB

In [4]:
#importar clientes
clients = pd.read_csv("customers_export_1.csv")
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18087 entries, 0 to 18086
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   First Name               16771 non-null  object
 1   Last Name                16656 non-null  object
 2   Email                    18079 non-null  object
 3   Accepts Email Marketing  18087 non-null  object
 4   Company                  1022 non-null   object
 5   Address1                 16444 non-null  object
 6   Address2                 3357 non-null   object
 7   City                     16447 non-null  object
 8   Province                 100 non-null    object
 9   Province Code            100 non-null    object
 10  Country                  16447 non-null  object
 11  Country Code             16447 non-null  object
 12  Zip                      16443 non-null  object
 13  Phone                    8500 non-null   object
 14  Accepts SMS Marketing    18087 non-null  object
 15  Total Spent              18087 non-null  float64
 16  Total Orders             18087 non-null  int64
 17  Tags                     4193 non-null   object
 18  Note                     2 non-null      object
 19  Tax Exempt               18087 non-null  object
dtypes: float64(1), int64(1), object(18)
memory usage: 2.8+ MB

In [5]:
#importar carritos abandonados
abandoned = pd.read_csv("checkouts_export_1.csv")
abandoned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 70 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         1692 non-null   object
 1   Email                        1692 non-null   object
 2   Financial Status             0 non-null      float64
 3   Paid at                      0 non-null      float64
 4   Fulfillment Status           835 non-null    object
 5   Fulfilled at                 0 non-null      float64
 6   Accepts Marketing            835 non-null    object
 7   Currency                     835 non-null    object
 8   Subtotal                     835 non-null    float64
 9   Shipping                     835 non-null    float64
 10  Taxes                        835 non-null    float64
 11  Total                        835 non-null    float64
 12  Discount Code                460 non-null    object
 13  Discount Amount              835 non-null    float64
 14  Shipping Method              509 non-null    object
 15  Created at                   1692 non-null   object
 16  Lineitem quantity            1689 non-null   float64
 17  Lineitem name                1689 non-null   object
 18  Lineitem price               1689 non-null   float64
 19  Lineitem compare at price    113 non-null    float64
 20  Lineitem sku                 1681 non-null   float64
 21  Lineitem requires shipping   1689 non-null   object
 22  Lineitem taxable             1689 non-null   object
 23  Lineitem fulfillment status  847 non-null    object
 24  Billing Name                 801 non-null    object
 25  Billing Street               234 non-null    object
 26  Billing Address1             234 non-null    object
 27  Billing Address2             63 non-null     object
 28  Billing Company              0 non-null      float64
 29  Billing City                 234 non-null    object
 30  Billing Zip                  234 non-null    object
 31  Billing Province             4 non-null      object
 32  Billing Country              234 non-null    object
 33  Billing Phone                234 non-null    object
 34  Shipping Name                701 non-null    object
 35  Shipping Street              701 non-null    object
 36  Shipping Address1            701 non-null    object
 37  Shipping Address2            170 non-null    object
 38  Shipping Company             0 non-null      float64
 39  Shipping City                701 non-null    object
 40  Shipping Zip                 701 non-null    object
 41  Shipping Province            17 non-null     object
 42  Shipping Country             701 non-null    object
 43  Shipping Phone               701 non-null    object
 44  Notes                        0 non-null      float64
 45  Note Attributes              825 non-null    object
 46  Cancelled at                 0 non-null      float64
 47  Payment Method               79 non-null     object
 48  Payment Reference            6 non-null      object
 49  Refunded Amount              826 non-null    float64
 50  Vendor                       1689 non-null   object
 51  Id                           835 non-null    float64
 52  Tags                         0 non-null      float64
 53  Risk Level                   835 non-null    object
 54  Source                       835 non-null    object
 55  Lineitem discount            1689 non-null   float64
 56  Tax 1 Name                   681 non-null    object
 57  Tax 1 Value                  681 non-null    float64
 58  Tax 2 Name                   98 non-null     object
 59  Tax 2 Value                  98 non-null     float64
 60  Tax 3 Name                   0 non-null      float64
 61  Tax 3 Value                  0 non-null      float64
 62  Tax 4 Name                   0 non-null      float64
 63  Tax 4 Value                  0 non-null      float64
 64  Tax 5 Name                   0 non-null      float64
 65  Tax 5 Value                  0 non-null      float64
 66  Phone                        0 non-null      float64
 67  Receipt Number               0 non-null      float64
 68  Billing Province Name        4 non-null      object
 69  Shipping Province Name       17 non-null     object
dtypes: float64(30), object(40)
memory usage: 925.4+ KB

In [6]:
#Pegar ordenes y carrito abandonado

orders["source"] = "orders" #agregar columna para identificar la fuende de la informaci√≥n

abandoned["source"] = "carrito" #agregar columna para identificar la fuende de la informaci√≥n

orders_abandoned = pd.concat([orders,abandoned])

In [7]:
#limpieza de tabla de productos

products_dup = products.drop_duplicates(subset="Variant SKU",keep="first") #eliminar duplicados en la columna Variant SKU

products_clean = products_dup.dropna(subset=["Variant SKU"]) #eliminar las filas con NA en la columna Variant SKU

products_clean["Variant SKU"] = products_clean["Variant SKU"].apply(lambda x: str(x)[1:6]) #Dejar el SKU del producto c√≥mo campo de texto, tomar los 5 caracteres despues del ', ej '02145

/var/folders/3n/2pry6xdj1_5_cqw2pyzdk21r0000gn/T/ipykernel_1028/2066501902.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products_clean["Variant SKU"] = products_clean["Variant SKU"].apply(lambda x: str(x)[1:6]) #Dejar el SKU del producto c√≥mo campo de texto, tomar los 5 caracteres despues del ', ej '02145

In [8]:
orders_abandoned["Lineitem sku"] = orders_abandoned["Lineitem sku"].apply(lambda x: str(x)[0:-2]) #Dejar el SKU del producto eliminando los 2 √∫ltimos caracteres.

#limpiar los SKU de la tablal orders_abandoned
temp = list()
for i in orders_abandoned["Lineitem sku"]:
    
    if len(i) == 4:
        temp.append('0'+i)
    elif len(i) == 3:
        temp.append('00'+i)
    elif len(i) == 2:
        temp.append('000'+i)
    elif len(i) == 0:
        temp.append('00000')
    else:
        temp.append(i)

In [9]:
orders_abandoned["Lineitem sku"] = temp

In [10]:

#cruzar las ordenes con carrito abandonado y los productos 

dataset = orders_abandoned.merge(products_clean, how= 'left', left_on="Lineitem sku",right_on="Variant SKU")
dataset.head()

,Name,Email,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,...,Google Shopping / Custom Label 0,Google Shopping / Custom Label 1,Google Shopping / Custom Label 2,Google Shopping / Custom Label 3,Google Shopping / Custom Label 4,Variant Image,Variant Weight Unit,Variant Tax Code,Cost per item,Status
0,#83692,nicole.knaus@gmail.com,paid,2021-12-01 00:22:52 +0100,fulfilled,2021-12-01 13:22:23 +0100,no,EUR,70.2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,kg,NaN,6.00,NaN
1,#83691,maudbertrand1994@gmail.com,paid,2021-11-30 22:59:01 +0100,fulfilled,2021-12-02 12:08:40 +0100,no,EUR,225.9,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,kg,NaN,9.43,NaN
2,#83691,maudbertrand1994@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,kg,NaN,6.00,NaN
3,#83691,maudbertrand1994@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,kg,NaN,8.88,NaN
4,#83691,maudbertrand1994@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,kg,NaN,9.43,NaN

## Juntando todo en una misma tabla

In [11]:
## Join dataset con customer

dataset = dataset.merge(clients, how='right',left_on='Email',right_on='Email')
#dataset.to_csv("dataset.csv", encoding='utf8')

dataset.head()

,Name,Email,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,...,Country,Country Code,Zip,Phone_y,Accepts SMS Marketing,Total Spent,Total Orders,Tags,Note,Tax Exempt
0,NaN,p.cheyssieu@free.fr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,France,FR,'38550,06 78 66 84 43,no,65.25,1,NaN,NaN,no
1,NaN,rosa.clara17@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,France,FR,'29820,06 59 46 32 18,no,83.30,1,#wgfr#wg,NaN,no
2,#32416670679274,shourm29@gmail.com,NaN,NaN,unfulfilled,NaN,no,EUR,33.15,4.9,...,France,FR,'29950,06 33 18 30 29,no,0.00,0,NaN,NaN,no
3,NaN,labarre.am@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,no,0.00,0,Privy,NaN,no
4,#32415980290282,loriagaelle@yahoo.fr,NaN,NaN,unfulfilled,NaN,no,EUR,61.20,4.9,...,France,FR,'82500,06 30 28 67 83,no,0.00,0,NaN,NaN,no

In [12]:

#nombre de las columnas que se quedar√≠an

columnas = ['Email','First Name','Last Name','Accepts Email Marketing','Company','Address1','Address2','City','Province','Province Code',
            'Country','Country Code','Zip','Phone_y','Accepts SMS Marketing','Total Spent','Total Orders','Tags','Note','Name',
            'Financial Status','Paid at','Fulfillment Status','Fulfilled at','Currency','Subtotal','Shipping','Taxes','Total',
            'Discount Code','Discount Amount','Shipping Method','Created at','Lineitem quantity','Lineitem name','Lineitem price',
            'Lineitem compare at price','Lineitem sku','Lineitem requires shipping','Lineitem taxable','Lineitem fulfillment status',
            'Cancelled at','Payment Method','Payment Reference','Refunded Amount','Vendor_x','Id','Tags_x','Risk Level',
            'Source','Lineitem discount','Tax 1 Name','Tax 1 Value','Tax 2 Name','Tax 2 Value','Tax 3 Name','Tax 3 Value',
            'Tax 4 Name','Tax 4 Value','Tax 5 Name','Tax 5 Value','Phone_x','Receipt Number','Duties','source','Title',
            'Body (HTML)','Vendor_y','Standardized Product Type','Custom Product Type','Tags_y','Published','Option1 Name',
            'Option1 Value','Option2 Name','Option2 Value','Option3 Name','Option3 Value','Variant SKU','Variant Grams',
            'Variant Inventory Tracker','Variant Inventory Policy','Variant Fulfillment Service','Variant Price',
            'Variant Compare At Price','Variant Requires Shipping','Variant Taxable','Variant Barcode','Image Src',
            'Image Position','Image Alt Text','Gift Card','SEO Title','SEO Description','Google Shopping / Google Product Category',
            'Google Shopping / Gender','Google Shopping / Age Group','Google Shopping / MPN','Google Shopping / AdWords Grouping',
            'Google Shopping / AdWords Labels','Google Shopping / Condition','Google Shopping / Custom Product',
            'Google Shopping / Custom Label 0','Google Shopping / Custom Label 1','Google Shopping / Custom Label 2',
            'Google Shopping / Custom Label 3','Google Shopping / Custom Label 4','Variant Image','Variant Weight Unit',
            'Variant Tax Code','Cost per item','Status']
     
#Filtrar las columnas o variables

dataset_todo = dataset.filter(columnas,axis=1)

dataset_todo.to_csv("dataset_todo.csv", encoding='utf8')

dataset_todo.head()

,Email,First Name,Last Name,Accepts Email Marketing,Company,Address1,Address2,City,Province,Province Code,...,Google Shopping / Custom Label 0,Google Shopping / Custom Label 1,Google Shopping / Custom Label 2,Google Shopping / Custom Label 3,Google Shopping / Custom Label 4,Variant Image,Variant Weight Unit,Variant Tax Code,Cost per item,Status
0,p.cheyssieu@free.fr,Philippe,BEAL,no,NaN,445 Route Cuillery,NaN,Cheyssieu,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,rosa.clara17@gmail.com,Bodin,Fabienne,yes,NaN,27 rue de Kerguillo,NaN,Bohars,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,shourm29@gmail.com,Solenn,Hourmand,no,NaN,23 B Route De Nors Vras,NaN,Clohars-fouesnant,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,kg,NaN,7.83,NaN
3,labarre.am@gmail.com,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,loriagaelle@yahoo.fr,Gaelle,Loria,no,NaN,847 Chemin de Guinaud,NaN,Beaumont-de-Lomagne,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,kg,NaN,4.46,NaN

In [13]:
dataset_todo.describe()

,Total Spent,Total Orders,Subtotal,Shipping,Taxes,Total,Discount Amount,Lineitem quantity,Lineitem price,Lineitem compare at price,...,Google Shopping / Condition,Google Shopping / Custom Product,Google Shopping / Custom Label 0,Google Shopping / Custom Label 1,Google Shopping / Custom Label 2,Google Shopping / Custom Label 3,Google Shopping / Custom Label 4,Variant Image,Variant Tax Code,Cost per item
count,35550.000000,35550.000000,11179.000000,11179.000000,11179.000000,11179.000000,11179.000000,24984.000000,24984.000000,1250.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8830.000000
mean,207.240927,3.369480,73.774102,2.084199,11.941957,80.165272,11.739096,1.043868,37.021091,43.983360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.039103
std,296.325088,13.620892,48.296853,2.909874,7.900002,48.889191,49.587749,0.275769,11.654766,14.646561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.032158
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,15.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.950000
25%,53.420000,1.000000,39.750000,0.000000,7.320000,48.720000,0.000000,1.000000,32.040000,39.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.900000
50%,115.600000,2.000000,69.160000,0.000000,11.650000,75.000000,3.580000,1.000000,39.000000,43.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.960000
75%,251.220000,3.000000,94.000000,4.900000,15.330000,99.000000,9.500000,1.000000,43.000000,46.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.350000
max,5255.050000,513.000000,733.000000,19.900000,72.030000,733.000000,2473.000000,11.000000,200.000000,96.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.790000

In [14]:
#resumen de todas las variables para obtener los datos finales

dataset_final = dataset_todo.dropna(subset= ['Email'],axis=0)

labels = ['Email','First Name','Last Name','Accepts Email Marketing']


count_groups = ['Email','Name','Financial Status','Tags','Fulfillment Status','Shipping','Discount Code','Shipping Method','Payment Method',
                'Payment Reference','Risk Level','Source','Tax 1 Name','Tax 2 Name','Tax 3 Name','Tax 4 Name','Tax 5 Name',
                'Standardized Product Type','Custom Product Type','Tags_y','Published','Option1 Name',
                'Option1 Value','Option2 Name','Option2 Value','Option3 Name','Option3 Value','Variant SKU','Variant Grams',
                'Variant Inventory Tracker','Variant Inventory Policy','Variant Fulfillment Service','Variant Price',
                'Variant Compare At Price','Variant Requires Shipping','Variant Taxable','Variant Barcode',
                'Gift Card','Google Shopping / Google Product Category','Google Shopping / Gender',
                'Google Shopping / Age Group','Google Shopping / MPN','Google Shopping / AdWords Grouping',
                'Google Shopping / AdWords Labels','Google Shopping / Condition','Google Shopping / Custom Product',
                'Google Shopping / Custom Label 0','Google Shopping / Custom Label 1','Google Shopping / Custom Label 2',
                'Google Shopping / Custom Label 3','Google Shopping / Custom Label 4','Variant Image','Variant Weight Unit',
                'Variant Tax Code','Status']
                

transformations = {'Name':'nunique',
                    'Address1':'first',
                    'Address2':'first',
                    'City':'first',
                    'Province':'first',
                    'Province Code':'first',
                    'Country':'first',
                    'Country Code':'first',
                    'Zip':'first',
                    'Accepts SMS Marketing':'first',
                    'Subtotal':'sum',
                    'Taxes':'sum',
                    'Total':['sum','max'],
                    'Discount Amount':'sum',
                    'Lineitem quantity':'sum',
                    'Lineitem name':'nunique',
                    'Lineitem price':'mean',
                    'Lineitem taxable':'sum',
                    'Cancelled at':'first',
                    'Refunded Amount':'sum',
                    'Lineitem discount':'sum',
                    'Tax 1 Value':'sum',
                    'Tax 2 Value':'sum',
                    'Tax 3 Value':'sum',
                    'Tax 4 Value':'sum',
                    'Tax 5 Value':'sum',
                    'Cost per item':'sum'
                    }


col_names = ['total_orders','adress_1','address_2','city','province','province_code',
            'country','country_code','zip','accepts_marketing','subtotal','taxes','total',
            'mean_cart','discount_total','lineitem_quantity','n_references','lineitem_mean_price',
            'lineitem_taxable_references','canceled_at','refunded_total','lineitem_discount_total',
            'tax_1_total','tax_2_total','tax_3_total','tax_4_total','tax_5_total','cost_item_total']

dataset_final = dataset_final.groupby(by = labels,axis=0).agg(transformations)

dataset_final.columns = col_names

dataset_final = dataset_final.reset_index()

print(dataset_final.head())

                                    Email First Name         Last Name  \
0  0062f71d91f6202112@client.choose.rocks   Caroline            Mascle
1  008c79d14d52202107@client.choose.rocks   Marjorie             BOEUF
2  00cca15a3726202107@client.choose.rocks   Delphine            Cantet
3  012659228e28202112@client.choose.rocks     Mareva   Perrier-bavoux
4  020c36116bbf202112@client.choose.rocks     Claire               Bes

  Accepts Email Marketing  total_orders                     adress_1  \
0                      no             0  16 Grande Rue Saint michel
1                      no             0   19 avenue quakenbruck E12
2                      no             0           5 rue des Vignoles
3                      no             0                9 Rue Musette
4                      no             0                  16 Calaudry

                  address_2            city province province_code  ...  \
0                  Appt C12        Toulouse     None          None  ...
1  r√©sidence le grand velin         Alen√ßon     None          None  ...
2                      None           Paris     None          None  ...
3                      None           Dijon     None          None  ...
4                      None  Saint-Domineuc     None          None  ...

  lineitem_taxable_references canceled_at refunded_total  \
0                           0        None            0.0
1                           0        None            0.0
2                           0        None            0.0
3                           0        None            0.0
4                           0        None            0.0

  lineitem_discount_total  tax_1_total  tax_2_total  tax_3_total  tax_4_total  \
0                     0.0          0.0          0.0          0.0          0.0
1                     0.0          0.0          0.0          0.0          0.0
2                     0.0          0.0          0.0          0.0          0.0
3                     0.0          0.0          0.0          0.0          0.0
4                     0.0          0.0          0.0          0.0          0.0

   tax_5_total  cost_item_total
0          0.0              0.0
1          0.0              0.0
2          0.0              0.0
3          0.0              0.0
4          0.0              0.0

[5 rows x 32 columns]

In [15]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder


categories_dataset = dataset_todo[count_groups]

#Identify the first row of every order
first_row = categories_dataset.duplicated(subset=['Name'],keep = 'first')

#Get the first row of the order
categories_dataset = categories_dataset.loc[first_row]

#replace all NA's by void text
categories_dataset = categories_dataset.fillna('')

categories_dataset.head()

#Let's encode all categories using OneHotEncoder
#This process needs to be done
one_hot = OneHotEncoder()

finantial_status = categories_dataset[['Financial Status']]


fin =one_hot.fit_transform(finantial_status)

fin.toarray()

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [16]:
one_hot.categories_

[array(['', 'paid'], dtype=object)]

In [17]:
dataset_final.shape

dataset_final.to_csv("dataset_limpio.csv", encoding='utf8',index = False)